<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta charset="UTF-8">
   <title>EJS Is Fun</title>
   
   <!-- CSS (load bootstrap from a CDN) -->
   <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
   <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="../public/style.css" rel="stylesheet">
   <style>
     body { padding-top:50px; }
   </style>
   <title>Document</title>
</head>
<body>
   <div class="container">
       <h1 style="text-align: center;">Candidate Details</h1>
      <div class="card">
         <div class="card-body">
           <div class="row">
               <div class="col-sm-6">
                   <img src="../public/images/candidate1.jpg" width="200px" height="200px"><br>
                   <p>Name: Muhammadu Buhari</p>
                   <p>Age: 79 years</p>
                   <p>Education: US Army War College</p>
               </div>
               <div class="col-sm-6">
                   <p>"The “ACTION ALLIANCE” is a commitment of purposeful administration
                       and eldership determined to fulfill the desired height and get this country
                       out of our present socioeconomic and political problems."
                   </p>
                   <ul>
                       <li style="list-style-type: none; font-weight: bold; margin-left: -20px;">Goals</li>
                       <li>To have a free and fair election.</li>
                       <li>To have a fast secured and stress free election.</li>
                       <li>To provide professional and non-partisan public service.</li>
                       <li>To enforce compliance on behalf of all participants.</li>
                   </ul>
                   <h4>Bio</h4>
                   <p>"Muhammadu Buhari GCFR is a Nigerian politician, 
                    who has served as the president of Nigeria since 2015. 
                    Buhari is a retired Nigerian Army major general 
                    who served as the country's military head of state 
                    from 31 December 1983 to 27 August 1985, after taking power in a military coup d'état."
                   </p>
               </div>
             </div>
         </div>
      </div>
   </div>

   <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>