<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../public/style2.css" rel="stylesheet">
   <title>Document</title>
   <meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="../public/style.css" rel="stylesheet">
<style>
  body { padding-top:50px; }
</style>
</head>
<body>
   <div class="container-fluid">
       <h1 class="heading">Your Vote is Secure, Your Vote Counts.</h1>
       <p>You can only vote for one candidate</p>
       <div class="col d-flex justify-content-center"><div class="card"></card></div>.
       <div class="row">
        <div class="col-sm-6 col d-flex justify-content-center">
           <div class="card" style="border: none;">
              <div class="card-body" id="card">
                 <h4>&#9864;Presidency Student Council</h4>
                 <img src="../public/images/candidate1.jpg" style="border-radius:50% ; width: 100px; height: 100px;">
                 <p>Muhammadu Buhari</p>
                 <a href="/candidate" class="details">View Details</a>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
           <div class="card" style="border: none;">
              <div class="card-body" id="card">
                 <h4>&#9864;Governorship Student Council</h4>
                 <img src="../public/images/candidate2.png" style="border-radius:50% ; width: 100px; height: 100px;">
                 <p>Orungbemi Favour</p>
                 <a href="/candidate" class="details">View Details</a>
              </div>
          </div>
        </div>
      </div>
   </div>

   <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>