<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../public/style2.css" rel="stylesheet">
   <title>Document</title>
   <meta charset="UTF-8">

<!-- CSS (load bootstrap from a CDN) -->
<link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="../public/style.css" rel="stylesheet">
<style>
  body { padding-top:50px; }
</style>
</head>
<body>
   <div class="container-fluid">      
       <div class="col d-flex justify-content-center"><div class="card"></div>
       <div class="row">
        <div class="col-sm-6 col d-flex justify-content-center">
           <div class="card" style="border: none;">
              <div class="card-body" id="card">
                 <h4>&#9864;<%-party.name%></h4>
                 <img src="/<%-party.logo%>" style="border-radius:50% ; width: 100px; height: 100px;">
                 <p><%-party.slogan%></p>
                 
              </div>
          </div>
        </div>
      
        
      </div>
   </div>

   <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>