<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>vote result</title>
</head>
<body>
    <h1 class="text-center">Election Live Result</h1>
    <div class="table-container">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Party</th>
                    <th>Votes</th>
                </tr>
            </thead>
            
            <%for(const voteCount of result){ %>
                <tbody>
                    <tr>
                        <td><%-voteCount.name%></td>
                        <td><%-voteCount.count%></td>
                    </tr>
                </tbody>
                
           <%}%>
           
    
        </table>
    
        <p>Total Votes : <%-votes.count%></p>
    </div>






<style>
   body{
    background-color: #000019 !important;
    
   }

   h1{
    color: #f2f2f2;
    margin-top: 2em;
   }

    .table-container{
        background-color: #f2f2f2;
        color: #000019;
       max-width: 65% ;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       margin-top: 4em;
       border-radius: 8px;
    } 

    
</style>

<script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/bootstrap/js/jquery.js"></script>
<script src="public/bootstrap/js/popper.min.js"></script>
<script src="public/bootstrap/js/boostrap.js"></script>
</body>
</html>