<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>Party</th>
            <th>Votes</th>
        </tr>
        <tr>
            <td>PDP</td>
            <td>20</td>
        </tr>
        <tr>
            <td>LP</td>
            <td>20</td>
        </tr>
        <tr>
            <td>SDP</td>
            <td>20</td>
        </tr>
    </table>

    <p>Total Votes : 120</p>




<style>
    table{
        border-collapse: collapse;
        width: 100%;
        margin: 2em auto;
    }

    th, td{
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){
        background-color: aquamarine;
    }
</style>

</body>
</html>