<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify-success</title>
    <style>
.verify{
    text-align: center;
    color: #000019;
}
img{
    width: 12em;
}

h1{
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    background-color: #000019;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 8px;
}
    </style>
</head>
<body>
    <div class="verify">
        <img src="../public/images/Achievement _Outline.png" alt="verified">
        <h1>You are verified!!</h1>
       <a href="/user-login">Go to Login</a> 
    </div>
    
</body>
</html>