<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting app</title>
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.css">
    <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.css">
</head>
<body>
    <div class="text-center heading">
        <h1 class="tracking-in-expand-fwd"><span class="font-weight-bold">Welcome to your voting portal</span></h1>
    </div>


    <div class="container">
      <div class="row pt-4">
          <div class="col-lg-4 col-sm-6 py-2">
  
              <!-- card -->
              <div class="card h-100">
                  <div class="card-img-top">
                      <img src="../public/images/LP.jpg" class="img-fluid mx-auto d-block" alt="card image 1">
                  </div>
                  <div class="card-block d-flex flex-column">
                      <p class="text-center">Labour Party (LP)</p>
                      <a href="#" class="btn">Vote</a>
                      <a href="#" class="btn">Detail</a>
                  </div>
              </div>
              <!-- card -->
  
          </div>
          <div class="col-lg-4 col-sm-6 py-2">
  
              <!-- card -->
              <div class="card h-100">
                  <div class="card-img-top">
                      <img src="../public/images/AA.jpg" class="img-fluid mx-auto d-block" alt="card image 3">
                  </div>
                  <div class="card-block d-flex flex-column">
                      <p class="text-center">Action Alliance (AA)</p>
                      <a href="#" class="btn">Vote</a>
                      <a href="#" class="btn">Detail</a>
                  </div>
              </div>
              <!-- card -->
  
          </div>
          <div class="col-lg-4 col-sm-6 mx-auto py-2">
  
              <!-- card -->
              <div class="card h-100">
                  <div class="card-img-top">
                      <img src="../public/images/ADC.jpg" class="img-fluid mx-auto d-block" alt="card image 3">
                  </div>
                  <div class="card-block d-flex flex-column">
                      <p class="text-center">African Democratic Congress(ADC)</p>
                      <a href="#" class="btn">Vote</a>
                      <a href="#" class="btn">Detail</a>
                  </div>
              </div>
              <!-- card -->
  
          </div>

          <div class="col-lg-4 col-sm-6 mx-auto py-2">
  
            <!-- card -->
            <div class="card h-100">
                <div class="card-img-top">
                    <img src="../public/images/BootParty.jpg" class="img-fluid mx-auto d-block" alt="card image 3">
                </div>
                <div class="card-block d-flex flex-column">
                    <p class="text-center">Boot Party</p>
                    <a href="#" class="btn">Vote</a>
                    <a href="#" class="btn">Detail</a>
                </div>
            </div>
            <!-- card -->

        </div>

        <div class="col-lg-4 col-sm-6 mx-auto py-2">
  
          <!-- card -->
          <div class="card h-100">
              <div class="card-img-top">
                  <img src="../public/images/APP.png" class="img-fluid mx-auto d-block" alt="card image 3">
              </div>
              <div class="card-block d-flex flex-column">
                  <p class="text-center">Action People's Party(APP)</p>
                  <a href="#" class="btn">Vote</a>
                  <a href="#" class="btn">Detail</a>
              </div>
          </div>
          <!-- card -->

      </div>

      <div class="col-lg-4 col-sm-6 mx-auto py-2">
  
        <!-- card -->
        <div class="card h-100">
            <div class="card-img-top">
                <img src="../public/images/SDP.png" class="img-fluid mx-auto d-block" alt="card image 3">
            </div>
            <div class="card-block d-flex flex-column">
                <p class="text-center">Social Democratic Party (SDP)</p>
                <a href="#" class="btn">Vote</a>
                <a href="#" class="btn">Detail</a>
            </div>
        </div>
        <!-- card -->

    </div>
      </div>
  </div>
  
  
          
 

  <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="public/bootstrap/js/jquery.js"></script>
    <script src="public/bootstrap/js/popper.min.js"></script>
    <script src="public/bootstrap/js/boostrap.js"></script>
</body>
</html>