<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting app</title>
    <link rel="stylesheet" href="public/bootstrap/css/bootstrap.css">
    <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="../public/font-awesome/css/font-awesome.css">
</head>
<body>
    <div class="text-center heading">
        <h1 class="tracking-in-expand-fwd"><span class="font-weight-bold">Welcome to your voting portal</span></h1>
    </div>


    <div class="container">
        <form action="/vote" method="post">
            <div class="row pt-4">
                <%for(const party of parties){ %>
                 <div class="col-lg-4 col-sm-6 py-2">
         
                     <!-- card -->
                     <div class="card h-100">
                         <div class="card-img-top">
                             <img src="/<%- party.logo %>" class="img-fluid mx-auto d-block" alt="card image 1">
                         </div>
                         <div class="card-block d-flex flex-column">
                             <p class="text-center"><%- party.name %></p>
                             <button type="submit" class="btn" name="vote" value="<%- party.id %>">Vote</button>
                             <a href="/candidate/<%- party.id %>" class="btn">Detail</a>
                         </div>
                     </div>
                     <!-- card -->
                   
                 </div>
                 <% }%>
             </div>
        </form>
      
  </div>
   
  
          
 

  <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="public/bootstrap/js/jquery.js"></script>
    <script src="public/bootstrap/js/popper.min.js"></script>
    <script src="public/bootstrap/js/boostrap.js"></script>
</body>
</html>