<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('../../partials/head'); %>
   <title>Document</title>
</head>
<body>
   <div class="container">
       <h1 style="text-align: center;">Candidate Details</h1>
      <div class="card">
         <div class="card-body">
           <div class="row">
               <div class="col-sm-6">
                   <img src="images/candidate8.jpg" width="200px" height="200px"><br>
                   <p>Name: Sule Lamido</p>
                   <p>Age: 74 years</p>
                   Education:  PhD International Affairs
               </div>
               <div class="col-sm-6">
                   <p>"We believe that the building of a prosperous and self-reliant national
                    economy has to be on the basis of just social relations of production
                    and exchange, with the democratic state playing the leading role in
                    ensuring that our domestic productive capacity"
                   </p>
                   <ul>
                       <li style="list-style-type: none; font-weight: bold; margin-left: -20px;">Goals</li>
                       <li>To have a free and fair election.</li>
                       <li>To have a fast secured and stress free election.</li>
                       <li>To provide professional and non-partisan public service.</li>
                       <li>To enforce compliance on behalf of all participants.</li>
                   </ul>
                   <h4>Bio</h4>
                   <p>
                    Sule Lamido was born on served as Foreign Affairs Minister of Nigeria from 1999 to 2003. 
                    He was elected governor of Jigawa State in April 2007. 
                    He is a member of the former ruling People's Democratic Party. 
                    He ran successfully for reelection on 26 April 2011.
                   </p>
               </div>
             </div>
         </div>
      </div>
   </div>
</body>
</html>