<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('../../partials/head'); %>
   <title>Document</title>
</head>
<body>
   <div class="container">
       <h1 style="text-align: center;">Candidate Details</h1>
      <div class="card">
         <div class="card-body">
           <div class="row">
               <div class="col-sm-6">
                   <img src="images/candidate4.jpg" width="200px" height="200px"><br>
                   <p>Name: Peter Obi</p>
                   <p>Age: 61 years</p>
                   Education: B.A. (Hons) in philosophy.
               </div>
               <div class="col-sm-6">
                   <p>"BOOT means Because Of Our Tomorrow. From our party name, you can tell
                    that our party’s goal is the development of our people and our nation so that
                    our collective future will be better than now"
                   </p>
                   <ul>
                       <li style="list-style-type: none; font-weight: bold; margin-left: -20px;">Goals</li>
                       <li>To have a free and fair election.</li>
                       <li>To have a fast secured and stress free election.</li>
                       <li>To provide professional and non-partisan public service.</li>
                       <li>To enforce compliance on behalf of all participants.</li>
                   </ul>
                   <h4>Bio</h4>
                   <p>
                    Peter Gregory Obi CON (born 19 July 1961) is a Nigerian businessman and politician 
                    who served as governor of Anambra from March to November 2006, February to May 2007, 
                    and from June 2007 to March 2014. 
                    In May 2022, he became the Labour Party candidate for President of Nigeria 
                    in the 2023 presidential election,after defecting from the PDP. 
                    Obi's presidential campaign has been described as populist 
                    and has been noted for its support among many young Nigerians 
                    who have been nicknamed "Obi-dients".
                   </p>
               </div>
             </div>
         </div>
      </div>
   </div>
</body>
</html>