<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('../../partials/head'); %>
   <title>Document</title>
</head>
<body>
   <div class="container">
       <h1 style="text-align: center;">Candidate Details</h1>
      <div class="card">
         <div class="card-body">
           <div class="row">
               <div class="col-sm-6">
                   <img src="images/candidate6.jpg" width="200px" height="200px"><br>
                   <p>Name: Rishi Sunak</p>
                   <p>Age: 42 years</p>
                   Education: Philosophy, Politics and Economics (PPE).
               </div>
               <div class="col-sm-6">
                   <p>"The Labour Party will demonstrate that it is still possible to form and
                    conduct the affairs of a political party on identifiable ideology, i.e.
                    progressive issue- based politics."
                   </p>
                   <ul>
                       <li style="list-style-type: none; font-weight: bold; margin-left: -20px;">Goals</li>
                       <li>To have a free and fair election.</li>
                       <li>To have a fast secured and stress free election.</li>
                       <li>To provide professional and non-partisan public service.</li>
                       <li>To enforce compliance on behalf of all participants.</li>
                   </ul>
                   <h4>Bio</h4>
                   <p>
                    Rishi Sunak is a British politician who has served as Prime Minister of the United Kingdom 
                    since 25 October 2022 and Leader of the Conservative Party since 24 October 2022.
                   </p>
               </div>
             </div>
         </div>
      </div>
   </div>
</body>
</html>