<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('../../partials/head'); %>
   <title>Document</title>
</head>
<body>
   <div class="container">
       <h1 style="text-align: center;">Candidate Details</h1>
      <div class="card">
         <div class="card-body">
           <div class="row">
               <div class="col-sm-6">
                   <img src="images/candidate7.jpg" width="200px" height="200px"><br>
                   <p>Name: Kayode Fayemi</p>
                   <p>Age: 57 years</p>
                   Education: Doctorate in War Studies.
               </div>
               <div class="col-sm-6">
                   <p>"We believe that the building of a prosperous and self-reliant national
                    economy has to be on the basis of just social relations of production
                    and exchange, with the democratic state playing the leading role in
                    ensuring that our domestic productive capacity"
                   </p>
                   <ul>
                       <li style="list-style-type: none; font-weight: bold; margin-left: -20px;">Goals</li>
                       <li>To have a free and fair election.</li>
                       <li>To have a fast secured and stress free election.</li>
                       <li>To provide professional and non-partisan public service.</li>
                       <li>To enforce compliance on behalf of all participants.</li>
                   </ul>
                   <h4>Bio</h4>
                   <p>
                    John Olukayode Fayemi CON is a Nigerian politician 
                    who served as Governor of Ekiti State from 2018 to 2022. 
                    He previously served in office between 2010 and 2014 
                    before losing re-election to Ayodele Fayose.
                   </p>
               </div>
             </div>
         </div>
      </div>
   </div>
</body>
</html>