 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/head'); %>
    <title>Document</title>
 </head>
 <body>
    <div class="container">
        <h1 style="text-align: center;">Candidate Details</h1>
       <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <img src="images/candidate2.png" width="100px" height="200px"><br>
                    <p>Name: Orungbemi Favour</p>
                    <p>Age: 17 years</p>
                    Education: Bsc History and International studies.
                </div>
                <div class="col-sm-6">
                    <p>"The “ACTION ALLIANCE” is a commitment of purposeful administration
                        and eldership determined to fulfill the desired height and get this country
                        out of our present socioeconomic and political problems."
                    </p>
                    <ul>
                        <li style="list-style-type: none; font-weight: bold; margin-left: -20px;">Goals</li>
                        <li>To have a free and fair election.</li>
                        <li>To have a fast secured and stress free election.</li>
                        <li>To provide professional and non-partisan public service.</li>
                        <li>To enforce compliance on behalf of all participants.</li>
                    </ul>
                    <h4>Bio</h4>
                    <p>
                        Orungbemi Favour is a Full stack developer from Nigeria.<br>
                        He is contesting for the Governorship seat in this election
                    </p>
                </div>
              </div>
          </div>
       </div>
    </div>
 </body>
 </html>