<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('../../partials/head'); %>
   <title>Document</title>
</head>
<body>
   <div class="container">
       <h1 style="text-align: center;">Candidate Details</h1>
      <div class="card">
         <div class="card-body">
           <div class="row">
               <div class="col-sm-6">
                   <img src="images/candidate10.jpg" width="200px" height="200px"><br>
                   <p>Name: Akshay Kumar</p>
                   <p>Age: 55 years</p>
                   Education:  PhD International Relations
               </div>
               <div class="col-sm-6">
                   <p>"To provide political, economic and social development and stability, through
                    exemplary leadership, good governance, transparency and responsive
                    governance in so doing, cultivate a sense of identity and solidarity in
                    Nigerians."
                   </p>
                   <ul>
                       <li style="list-style-type: none; font-weight: bold; margin-left: -20px;">Goals</li>
                       <li>To have a free and fair election.</li>
                       <li>To have a fast secured and stress free election.</li>
                       <li>To provide professional and non-partisan public service.</li>
                       <li>To enforce compliance on behalf of all participants.</li>
                   </ul>
                   <h4>Bio</h4>
                   <p>
                    Rajiv Hari Om Bhatia, known professionally as Akshay Kumar, 
                    is an Indian-born naturalised Canadian actor and film producer who works in Hindi cinema. 
                    In over 30 years of acting, Kumar has appeared in over 100 films and has won several awards, 
                    including two National Film Awards and two Filmfare Awards
                   </p>
               </div>
             </div>
         </div>
      </div>
   </div>
</body>
</html>