@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap');

:root {
  --gradient: linear-gradient(to left top, #233329 10%, #f82249 90%);
  --primary: #f82249 !important;
  --light-pink: #fb94a7 !important;
  --secondary: #000019 !important;
  --light: #e5e5e5 !important;
  --font-family: 'Open Sans', sans-serif !important;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --link-color: #2f3138;
--light-color: #f2f2f2;
}

body{
  background-color: var(--secondary) !important;
}

form{
  background-color: var(--light) !important;
  color: var(--secondary) !important;
  border-radius: 8px;
  padding: 15px;
}

input:focus {
  border-color: none !important;
  box-shadow: none !important;
}


input[type=text], input[type=date], input[type=email], input[type=file]{
  border: 1px solid var(--link-color) !important;
}

input[type=text]:focus{
  border: 2px solid var(--link-color) !important;
}

input[type=date]:focus{
  border: 2px solid var(--link-color) !important;
}

input[type=email]:focus{
  border: 2px solid var(--link-color) !important;
}

input[type=file]:focus{
  border: 2px solid var(--link-color) !important;
}

.form-container{
  width: 70%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sign-up{
  color: var(--light-color) !important;

}

.submit{
  background-color: var(--secondary) !important;
  color: var(--light-color) !important;

}

.submit:hover{
  opacity: 0.7;
}



  .scale-up-center{
    animation: scale-up-center 0.8s;
  } 
  @keyframes scale-up-center{
     0%{transform: scale(.5);}
     100%{transform: scale(1);}
  }